*{
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  font-size: 15px;
  padding: 20px;
}

.App-Header{
  height: 5vh;
}

.App-Form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 40vw;
}

.App-Form input {
  align-self: flex-end;
}

.App-Input {
  background-color: aliceblue;
}

.App-Container {
  width: 100%;
  height: 95%;
}

.App-Image-Div {
  margin-top: 15px;
  width: 100%;
  height: 100%;

}

.App-Svg{
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-Image {
  max-height: 100%;
  max-width: 100%;
}
