*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  font-size: 15px;
  padding: 20px;
}

.App-Header{
  height: 5vh;
}

.App-Form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

.App-Form input {
  align-self: flex-end;
}
.App-Input {
  background-color: aliceblue;
}

.App-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
}

.App-Image-Div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  height: 100%;
}

.App-Svg{
  position: absolute;
  height: 90%;
  width: 100%;
  background-color: #FF000020;
}

.App-Image {
  max-height: 100%;
  max-width: 100%;
}
